.button{
    width: 100%;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px;
  
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;

}
.container{
    max-width: 1024px;
    margin: auto;
}